<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="controller" value="" />
    <add key="builder" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="FP_DbConnString1" connectionString="DbType=SqlServer;DataSource=.;DbName=FP_Test;Prefix=FP_" />
    <add name="FP_DbConnString2" connectionString="DbType=Access;DataSource=datas/FP_Test.mdb;Prefix=FP_" />
  </connectionStrings>
</configuration>